<a href="https://colab.research.google.com/github/mantasha64/Porfolio/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Meta Data**

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('/covid19_italy_region.csv')

In [4]:
df.head()

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
0,0,2020-02-24T18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,0,0,0,0,0,NaN
1,1,2020-02-24T18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,0,0,0,0,0,NaN
2,2,2020-02-24T18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,0,0,0,0,0,NaN
3,3,2020-02-24T18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,0,0,0,0,0,0,NaN
4,4,2020-02-24T18:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,6,18,18,0,0,18,NaN

In [5]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6027 entries, 0 to 6026
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   SNo                        6027 non-null   int64
 1   Date                       6027 non-null   object
 2   Country                    6027 non-null   object
 3   RegionCode                 6027 non-null   int64
 4   RegionName                 6027 non-null   object
 5   Latitude                   6027 non-null   float64
 6   Longitude                  6027 non-null   float64
 7   HospitalizedPatients       6027 non-null   int64
 8   IntensiveCarePatients      6027 non-null   int64
 9   TotalHospitalizedPatients  6027 non-null   int64
 10  HomeConfinement            6027 non-null   int64
 11  CurrentPositiveCases       6027 non-null   int64
 12  NewPositiveCases           6027 non-null   int64
 13  Recovered                  6027 non-null   int64
 14  Deaths                     6027 non-null   int64
 15  TotalPositiveCases         6027 non-null   int64
 16  TestsPerformed             4872 non-null   float64
dtypes: float64(3), int64(11), object(3)
memory usage: 800.6+ KB

In [8]:
df.describe()

,SNo,RegionCode,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
count,6027.000000,6027.000000,6027.000000,6027.000000,6027.000000,6027.000000,6027.000000,6027.000000,6027.000000,6027.000000,6027.000000,6027.000000,6027.00000,4.872000e+03
mean,3013.000000,11.857143,43.046293,12.225955,509.093579,55.892318,564.985897,5722.911399,6287.897296,286.885847,9337.852829,1474.370665,17100.12361,2.600810e+05
std,1739.989368,6.274319,2.488987,2.659168,1272.731157,134.957979,1403.362341,15892.768789,16804.884786,818.450458,20551.265039,3365.190225,36934.67627,3.339818e+05
min,0.000000,1.000000,38.115697,7.320149,0.000000,0.000000,0.000000,0.000000,0.000000,-229.000000,0.000000,0.000000,0.00000,3.482000e+03
25%,1506.500000,7.000000,41.125596,11.121231,16.000000,1.000000,17.000000,139.000000,168.000000,4.000000,734.000000,98.000000,1383.50000,6.507375e+04
50%,3013.000000,12.000000,43.616760,12.388247,93.000000,9.000000,106.000000,743.000000,905.000000,31.000000,2840.000000,389.000000,4613.00000,1.365560e+05
75%,4519.500000,17.000000,45.434905,13.768136,384.500000,46.000000,434.000000,3057.000000,3735.000000,159.500000,8450.500000,1102.500000,15304.00000,3.043542e+05
max,6026.000000,22.000000,46.499335,16.867367,12077.000000,1381.000000,13328.000000,155066.000000,164406.000000,11489.000000,289706.000000,23024.000000,429109.00000,2.415099e+06

In [14]:
df.columns

Index(['SNo', 'Date', 'Country', 'RegionCode', 'RegionName', 'Latitude',
       'Longitude', 'HospitalizedPatients', 'IntensiveCarePatients',
       'TotalHospitalizedPatients', 'HomeConfinement', 'CurrentPositiveCases',
       'NewPositiveCases', 'Recovered', 'Deaths', 'TotalPositiveCases',
       'TestsPerformed'],
      dtype='object')

In [18]:
df.shape

(6027, 17)

In [21]:
covid_data_dict={
   'Recovered': ['6027.000000', '9337.852829', '20551.265039'],
   'Deaths' : ['6027.000000', '1474.370665', '3365.190225'],
   'NewPositiveCases' : ['6027.000000', '286.885847', '818.450458', '-229.000000']
}

In [22]:
covid_data_dict['NewPositiveCases']

['6027.000000', '286.885847', '818.450458', '-229.000000']

In [29]:
#df['NewPositiveCases'] same as
df.NewPositiveCases

0          0
1          0
2          0
3          0
4         18
        ...
6022    1022
6023     753
6024     234
6025      34
6026    3444
Name: NewPositiveCases, Length: 6027, dtype: int64

In [24]:
type(df['NewPositiveCases'])

pandas.core.series.Series

In [26]:
df['NewPositiveCases'][6022]

1022

In [28]:
df.at[6022, 'NewPositiveCases']

1022

In [32]:
#to retrive more then 1 col

covid_df=df[['NewPositiveCases', 'CurrentPositiveCases']]
covid_df

      NewPositiveCases  CurrentPositiveCases
0                    0                     0
1                    0                     0
2                    0                     0
3                    0                     0
4                   18                    18
...                ...                   ...
6022              1022                 39746
6023               753                 29199
6024               234                  6065
6025                34                   987
6026              3444                 76804

[6027 rows x 2 columns]

In [33]:
#if you want to modify the data create a copy
df_copy=df.copy()

In [34]:
df

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
0,0,2020-02-24T18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,0,0,0,0,0,NaN
1,1,2020-02-24T18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,0,0,0,0,0,NaN
2,2,2020-02-24T18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,0,0,0,0,0,NaN
3,3,2020-02-24T18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,0,0,0,0,0,0,NaN
4,4,2020-02-24T18:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,6,18,18,0,0,18,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6022,6022,2020-12-06T17:00:00,ITA,19,Sicilia,38.115697,13.362357,1367,213,1580,38166,39746,1022,29984,1759,71489,692062.0
6023,6023,2020-12-06T17:00:00,ITA,9,Toscana,43.769231,11.255889,1360,252,1612,27587,29199,753,76331,2867,108397,983103.0
6024,6024,2020-12-06T17:00:00,ITA,10,Umbria,43.106758,12.388247,332,60,392,5673,6065,234,18619,460,25144,231538.0
6025,6025,2020-12-06T17:00:00,ITA,2,Valle d'Aosta,45.737503,7.320149,102,8,110,877,987,34,5406,333,6726,34644.0
6026,6026,2020-12-06T17:00:00,ITA,5,Veneto,45.434905,12.338452,2508,308,2816,73988,76804,3444,84235,4210,165249,1090932.0

In [35]:
df.loc[6022]

SNo                                         6022
Date                         2020-12-06T17:00:00
Country                                      ITA
RegionCode                                    19
RegionName                               Sicilia
Latitude                               38.115697
Longitude                              13.362357
HospitalizedPatients                        1367
IntensiveCarePatients                        213
TotalHospitalizedPatients                   1580
HomeConfinement                            38166
CurrentPositiveCases                       39746
NewPositiveCases                            1022
Recovered                                  29984
Deaths                                      1759
TotalPositiveCases                         71489
TestsPerformed                          692062.0
Name: 6022, dtype: object

In [39]:
#to view the first & last few row of data we can use .head & .tail
df.tail(6)

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
6021,6021,2020-12-06T17:00:00,ITA,20,Sardegna,39.215312,9.110616,616,64,680,14280,14960,293,8695,531,24186,333552.0
6022,6022,2020-12-06T17:00:00,ITA,19,Sicilia,38.115697,13.362357,1367,213,1580,38166,39746,1022,29984,1759,71489,692062.0
6023,6023,2020-12-06T17:00:00,ITA,9,Toscana,43.769231,11.255889,1360,252,1612,27587,29199,753,76331,2867,108397,983103.0
6024,6024,2020-12-06T17:00:00,ITA,10,Umbria,43.106758,12.388247,332,60,392,5673,6065,234,18619,460,25144,231538.0
6025,6025,2020-12-06T17:00:00,ITA,2,Valle d'Aosta,45.737503,7.320149,102,8,110,877,987,34,5406,333,6726,34644.0
6026,6026,2020-12-06T17:00:00,ITA,5,Veneto,45.434905,12.338452,2508,308,2816,73988,76804,3444,84235,4210,165249,1090932.0

In [40]:
df.head(6)

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
0,0,2020-02-24T18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,0,0,0,0,0,NaN
1,1,2020-02-24T18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,0,0,0,0,0,NaN
2,2,2020-02-24T18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,0,0,0,0,0,NaN
3,3,2020-02-24T18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,0,0,0,0,0,0,NaN
4,4,2020-02-24T18:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,6,18,18,0,0,18,NaN
5,5,2020-02-24T18:00:00,ITA,6,Friuli Venezia Giulia,45.649435,13.768136,0,0,0,0,0,0,0,0,0,NaN

In [44]:
df.NewPositiveCases.first_valid_index()

0

In [45]:
df.loc[10:20]

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
10,10,2020-02-24T18:00:00,ITA,14,Molise,41.557748,14.659161,0,0,0,0,0,0,0,0,0,NaN
11,11,2020-02-24T18:00:00,ITA,21,P.A. Bolzano,46.499335,11.356624,0,0,0,0,0,0,0,0,0,NaN
12,12,2020-02-24T18:00:00,ITA,22,P.A. Trento,46.068935,11.121231,0,0,0,0,0,0,0,0,0,NaN
13,13,2020-02-24T18:00:00,ITA,1,Piemonte,45.073274,7.680687,2,0,2,1,3,3,0,0,3,NaN
14,14,2020-02-24T18:00:00,ITA,16,Puglia,41.125596,16.867367,0,0,0,0,0,0,0,0,0,NaN
15,15,2020-02-24T18:00:00,ITA,20,Sardegna,39.215312,9.110616,0,0,0,0,0,0,0,0,0,NaN
16,16,2020-02-24T18:00:00,ITA,19,Sicilia,38.115697,13.362357,0,0,0,0,0,0,0,0,0,NaN
17,17,2020-02-24T18:00:00,ITA,9,Toscana,43.769231,11.255889,0,0,0,0,0,0,0,0,0,NaN
18,18,2020-02-24T18:00:00,ITA,10,Umbria,43.106758,12.388247,0,0,0,0,0,0,0,0,0,NaN
19,19,2020-02-24T18:00:00,ITA,2,Valle d'Aosta,45.737503,7.320149,0,0,0,0,0,0,0,0,0,NaN
20,20,2020-02-24T18:00:00,ITA,5,Veneto,45.434905,12.338452,12,4,16,16,32,32,0,1,33,NaN

In [46]:
df.sample(6)

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
4279,4279,2020-09-14T17:00:00,ITA,19,Sicilia,38.115697,13.362357,136,16,152,1690,1842,65,3172,292,5306,301876.0
805,805,2020-04-02T17:00:00,ITA,7,Liguria,44.411493,8.932699,1120,172,1292,1368,2660,122,634,488,3782,NaN
3429,3429,2020-08-05T17:00:00,ITA,12,Lazio,41.892770,12.483667,188,7,195,788,983,12,6878,865,8726,353130.0
2309,2309,2020-06-12T17:00:00,ITA,5,Veneto,45.434905,12.338452,49,0,49,800,849,0,16383,1967,19199,367579.0
295,295,2020-03-09T18:00:00,ITA,17,Basilicata,40.639471,15.805148,2,0,2,3,5,1,0,0,5,NaN
3498,3498,2020-08-08T17:00:00,ITA,22,P.A. Trento,46.068935,11.121231,5,0,5,74,79,1,4509,405,4993,74756.0

In [52]:
#total death cases & total Recovered

total_deaths=df.Deaths.sum()
total_CurrentPositiveCases=df.CurrentPositiveCases.sum()


print('The number of the total deaths cases are {} & {} are CurrentPositiveCases'.format(total_deaths, total_CurrentPositiveCases))

The number of the total deaths cases are 8886032 & 37897157 are CurrentPositiveCases

**What is the total death rate?**

In [55]:
death_rate= df.Deaths.sum()/ df.CurrentPositiveCases.sum()
print('The overall death rate in Italy is {}%'.format(death_rate))

The overall death rate in Italy is 0.234477536138133%

**What is the total test conducted?**

In [58]:
#test conducted

initial_test= 973726
total_test= initial_test + df.TestsPerformed.sum()
total_test

1268088516.0